@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var newsletterForm = new Crito.Models.NewsletterForm();
}


<section class="subscribe-section">
    <h1>@Model.Value("subscriptionTitle")</h1>

    @using (Html.BeginUmbracoForm("SubscribeIndex", "Contact", FormMethod.Post))
    {
        <div asp-validation-summary="ModelOnly"></div>

        <input asp-for="@newsletterForm.Email" id="email-input" type="text" class="subscribe-input" placeholder="Username@domain.com">
        <small class="text-danger"><span asp-validation-for="@newsletterForm.Email"></span></small>

        <button class="btn-theme" type="submit" href="@Model.Value("subscriptionButtonUrl")">@Model.Value("subscriptionButtonText") <i class="fa-solid fa-arrow-up-right"></i></button>
    }
    <img class="background-wavy-lines" src="images/background-effects/background-wavy-lines.svg" alt="">
</section>