@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "_Layout.cshtml";
	ViewData["PageTitle"] = @Model.Value("pageTitle");
	ViewData["PageDescription"] = @Model.Value("pageDescription");
} 

<!-- header -->
<header>
    <img class="background-lines" src="/images/background-effects/background-lines.svg" alt="">
    
    @await Html.PartialAsync("_NavSection")
    @await Html.PartialAsync("_Showcase")
    
</header>

<main>
    @await Html.PartialAsync("HomePagePartialViews/_BrandsSection")
    
    <section class="features">
        <div class="container">
            <div class="features-content">
                <h5 class="small-heading">@Model.Value("serviceFeaturesServiceTitle")</h5>
                <h1>@Model.Value("serviceFeatureHeading")</h1>
                <a class="btn-theme btn-theme-stretch" href="@Model.Value("serviceFeaturesButtonUrl")">@Model.Value("serviceFeaturesButtonText")<i class="fa-solid fa-arrow-up-right"></i></a>
            </div>
            <div class="advice-section">
                @Html.GetBlockListHtml(Model.ServiceFeatures)
            </div>
        </div>
    </section>
    
    @await Html.PartialAsync("HomePagePartialViews/_AboutCompany")
    
    
    @await Html.PartialAsync("HomePagePartialViews/_OurServicesSection", Model)
</main>